In [6]:
import numpy as np
linv = lambda x: np.exp(x) / (1 + np.exp(x))
ehat = lambda x: linv(5 - 5*x - 10*x*x)
Xi = [0.3,0.4,0.5,0.6,0.7]

In [12]:
for i in Xi:
    print(f"{i} : {ehat(i):.2f}")

0.3 : 0.93
0.4 : 0.80
0.5 : 0.50
0.6 : 0.17
0.7 : 0.03

In [16]:
nt = (24,16,4,5,1)
nc = (3,2,6,13,26)
assert(sum(nt) == sum(nc) == 50)

In [18]:
sum([ehat(x)*wt/50 for x,wt in zip(Xi,nt)])

0.7609564733545162

In [20]:
sum([ehat(x)*wc/50 for x,wc in zip(Xi,nc)])

0.20840791183011637

In [21]:
[ehat(x)*wt/50 for x,wt in zip(Xi,nt)]

[0.44681355823519353,
 0.2566988443387461,
 0.04,
 0.016798161486607555,
 0.0006459092939690106]

In [22]:
[ehat(x)*wc/50 for x,wc in zip(Xi,nc)]

[0.05585169477939919,
 0.032087355542343265,
 0.06,
 0.043675219865179644,
 0.016793641643194274]

In [23]:
yt = (151.5,189.5,212.5,228,239.2143)
yc = (201.5,202,202.5,203,203.5)

In [30]:
tau = [ (yt[i]*nt[i]/(ehat(Xi[i])) - yc[i]*nc[i]/(1 - ehat(Xi[i])))/(nt[i]+nc[i]) for i,x in enumerate(Xi)]

In [32]:
sum([tau[i]*(nt[i]+nc[i])/100 for i in range(len(tau))])

17.24239895724988

In [35]:
Xi = np.array(Xi)
yt = np.array(yt)
yc = np.array(yc)
nt = np.array(nt)
nc = np.array(nc)

In [54]:
yt @ (nt/ehat(Xi)) /  (sum(nt/ehat(Xi))) - ((yc @ (nc/ehat(Xi))) / sum(nc/ehat(Xi)))

2.5766571844401938

In [39]:
ehat2 = lambda x: linv(5 - 10*x)

In [41]:
tau2 = [ (yt[i]*nt[i]/(ehat2(Xi[i])) - yc[i]*nc[i]/(1 - ehat2(Xi[i])))/(nt[i]+nc[i]) for i,x in enumerate(Xi)]
sum([tau2[i]*(nt[i]+nc[i])/100 for i in range(len(tau2))])

-23.991500770675106

In [52]:
 yt@(nt/ehat2(Xi))/ sum(nt/ehat2(Xi))  - (yc@(nc/(ehat2(Xi)))/sum(nc/ehat2(Xi)))

-10.489125223319803

In [43]:
'''
1
0
.5
.93
.8
.5
.17
.03
.76???
.21
yes
no
-0.61
2.58
-0.61
-10.49
'''

'\n1\n0\n.5\n.93\n.8\n.5\n.17\n.03\n.76???\n.21\nyes\nno\n-0.61\n25.62\n-0.61\n-10.49\n'

In [47]:
f"{(yt-yc)@(nt+nc) / 100:.2f}"

'-0.61'

In [50]:
sum(nt/ehat(Xi))

114.45737946958228

Module 5: Matching
==

In [59]:
yc = np.array([202,203.5,203.5,203.5,202.5])
ec = np.array([0.8,0.04,0.05,0.07,0.57])
xc = np.array([0.4,0.7,0.7,0.7,0.5])
zc = np.zeros_like(xc)

yt = np.array([189.5,212.5,151.5,228.0,151.5])
et = np.array([0.81,0.58,0.90,0.23,0.91])
xt = np.array([0.4,0.5,0.3,0.6,0.3])
zt = np.ones_like(xc)

In [69]:
pairs=[]
for i,e in enumerate(et):
    mi,me=min(list(enumerate(ec)),key=lambda x: abs(x[1]-e))
    pairs.append((i,mi))

pairs

[(0, 0), (1, 4), (2, 0), (3, 3), (4, 0)]

In [70]:
np.mean([yt[i] - yc[mi] for i,mi in pairs])

-15.8

In [71]:
pairs=[]
ec_indexed = list(enumerate(ec))
picked=set()
for i,e in sorted(enumerate(et),key=lambda x: x[1],reverse=True):
    mi,me=min(filter(lambda mi_e: mi_e[0] not in picked ,ec_indexed),key=lambda x: abs(x[1]-e))
    pairs.append((i,mi))
    picked.add(mi)

pairs

[(4, 0), (2, 4), (0, 3), (1, 2), (3, 1)]

In [72]:
np.mean([yt[i] - yc[mi] for i,mi in pairs])

-16.4

In [76]:
k=3
yc_knn = np.zeros_like(yc)
for i,e in enumerate(et):
    knn=sorted(list(enumerate(ec)),key=lambda x: abs(x[1]-e))[:k]
    yc_knn[i] = np.mean([yc[mi] for mi,e in knn])
yc_knn
np.mean(yt - yc_knn)

-16.233333333333327

In [74]:
knn

[(0, 0.8), (4, 0.57), (3, 0.07)]

array([-12.5,  10. , -50. ,  25. , -50. ])

In [78]:
yt_0 = np.array([202.0,202.5,201.5,203.0,201.5])

In [80]:
yt - yt_0

array([-12.5,  10. , -50. ,  25. , -50. ])

In [82]:
np.mean(yt-yt_0)

-15.5

Module 5: Matching
===

In [103]:
s='''
1	0.70	0	0.03	0.27	203.50	239.21	203.50	214.54	213.16	26117	
2	0.70	1	0.03	0.27	239.21	239.21	203.50	214.54	213.16	883	
3	0.60	0	0.17	0.33	203.00	228.00	203.00	202.46	201.07	15032	
4	0.60	1	0.17	0.33	228.00	228.00	203.00	202.46	201.07	2968	
5	0.50	0	0.50	0.50	202.50	212.50	202.50	190.37	188.99	4994	
6	0.50	1	0.50	0.50	212.50	212.50	202.50	190.37	188.99	5006	
7	0.40	0	0.80	0.65	202.00	189.50	202.00	178.29	176.90	3561	
8	0.40	1	0.80	0.65	189.50	189.50	202.00	178.29	176.90	14439	
9	0.30	0	0.93	0.72	201.50	151.50	201.50	166.20	164.82	1813	
10	0.30	1	0.93	0.72	151.50	151.60	201.50	166.20	164.82	25187	
'''

In [104]:
from io import StringIO
import pandas as pd
df = pd.read_csv(StringIO(s),sep="\t",header=None)
df=df.iloc[:,:-1]
df = df.replace("o",0).replace("O",0)
df.columns = ["j","X","Z","e1","e2","Y","Y1_1","Y1_0","Y2_1","Y2_0","n"]

In [105]:
df

    j    X  Z    e1    e2       Y    Y1_1   Y1_0    Y2_1    Y2_0      n
0   1  0.7  0  0.03  0.27  203.50  239.21  203.5  214.54  213.16  26117
1   2  0.7  1  0.03  0.27  239.21  239.21  203.5  214.54  213.16    883
2   3  0.6  0  0.17  0.33  203.00  228.00  203.0  202.46  201.07  15032
3   4  0.6  1  0.17  0.33  228.00  228.00  203.0  202.46  201.07   2968
4   5  0.5  0  0.50  0.50  202.50  212.50  202.5  190.37  188.99   4994
5   6  0.5  1  0.50  0.50  212.50  212.50  202.5  190.37  188.99   5006
6   7  0.4  0  0.80  0.65  202.00  189.50  202.0  178.29  176.90   3561
7   8  0.4  1  0.80  0.65  189.50  189.50  202.0  178.29  176.90  14439
8   9  0.3  0  0.93  0.72  201.50  151.50  201.5  166.20  164.82   1813
9  10  0.3  1  0.93  0.72  151.50  151.60  201.5  166.20  164.82  25187

In [131]:
(df.n@(df.Y1_1 - df.Y1_0)) / df.n.sum() #-.61

-0.5831129999999981

In [117]:
abc = lambda a,b,c : (1 / df.n.sum())*(df.n * a) @ (b/c)

In [120]:
term_1 = abc(df.Z,df.Y,df.e1) - abc(df.Z-df.e1,df.Y1_1,df.e1)
term_1

201.8898042043011

In [121]:
term_2 = abc(1-df.Z,df.Y,1-df.e1) + abc(df.Z-df.e1,df.Y1_0,1-df.e1)
term_2

202.5

In [122]:
term_1 - term_2

-0.6101957956988997

In [127]:
term_1 = abc(df.Z,df.Y,df.e1) - abc(df.Z-df.e1,df.Y2_1,df.e1)
term_2 = abc(1-df.Z,df.Y,1-df.e1) + abc(df.Z-df.e1,df.Y2_0,1-df.e1)
f"{term_1:.2f} - {term_2:.2f} = {(term_1-term_2):.2f}"#-.33

'202.35 - 202.06 = 0.29'

In [126]:
term_1 = abc(df.Z,df.Y,df.e2) - abc(df.Z-df.e2,df.Y1_1,df.e2)
term_2 = abc(1-df.Z,df.Y,1-df.e2) + abc(df.Z-df.e2,df.Y1_0,1-df.e2)
f"{term_1:.2f} - {term_2:.2f} = {(term_1-term_2):.2f}"

'201.88 - 202.50 = -0.62'

In [128]:
term_1 = abc(df.Z,df.Y,df.e2) - abc(df.Z-df.e2,df.Y2_1,df.e2)
term_2 = abc(1-df.Z,df.Y,1-df.e2) + abc(df.Z-df.e2,df.Y2_0,1-df.e2)
f"{term_1:.2f} - {term_2:.2f} = {(term_1-term_2):.2f}"

'193.04 - 192.24 = 0.80'

In [3]:
from causallib.estimation import Matching
from causallib.tests.test_matching import TestMatching
m = Matching()
m.caliper = 0
m.with_replacement = False

In [6]:
TestMatching.setUpClass()
X, a, y = TestMatching.data_3feature_linear_effect
m.fit(X, a, y)
m._execute_matching(X, a)

/home/micha/CausalInference/causallib/estimation/matching.py:740: UserWarning: No matches found, check caliper.No estimation possible.
  warnings.warn("No matches found, check caliper."

                             distances matches
match_to_treatment sample_id
0                  0                []      []
                   1                []      []
                   2                []      []
                   3                []      []
                   4                []      []
...                                ...     ...
1                  495              []      []
                   496              []      []
                   497              []      []
                   498              []      []
                   499              []      []

[1000 rows x 2 columns]

In [21]:
m.estimate_individual_outcome(X, a,dropna=False).isna().all(axis=None)

True

In [ ]:
m.estimate_individual_outcome(X, a,dropna=False).isna().all

ValueError: Matching was not successful and no outcomes can be estimated. Check caliper value.

{1, 3}

In [27]:
{i//2 for i in range(10)}

{0, 1, 2, 3, 4}

In [32]:
import numpy as np
np.random.random((1,4))

array([[0.04502435, 0.18664479, 0.21409148, 0.39187012]])

In [40]:
import pandas as pd
a=pd.DataFrame(index=[1,2,3,4])
b=pd.DataFrame(index=[2,3,4,1])
c=pd.DataFrame(index=[1,2,3,4])

assert(not all(a.index == b.index))
assert(all(a.index == c.index))
assert(not a.index.equals(b.index))
assert(a.index.equals(c.index))