In [1]:
import numpy as np
import pandas as pd

dict_keys(['c1', 'c2'])

In [22]:
data1

  cust_id  state  amount  year  group  loan_rate
0      c1      1    1000     3     10       0.15
1      c2      4    2000     4     25       0.12

In [66]:
np.random.seed(1)
arr = np.random.randint(low=1, high=100, size=(10000,))

In [79]:
%%timeit
result = 0
for i in range(len(arr)):
    if i > 0:
        result += (arr[i] - arr[i - 1]) / arr[i]

3.59 ms ± 68.4 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [78]:
%%timeit
np_result = np.sum(np.diff(arr) / arr[1:])

33.2 µs ± 922 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [82]:
%%timeit
np_result_no_diff = np.sum((arr[1:]-arr[:-1])/arr[1:])

29.7 µs ± 802 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [71]:
np.testing.assert_almost_equal(np_result, result)